<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="path" value="C:\Users\Administrator\Desktop\face" />
    <add key="camera_IP" value="172.19.9.103" />
    <add key="camera_port" value="8000" />
    <add key="userName" value="admin" />
    <add key="passWord" value="zjp123456789" />
    <add key="foreign_IP" value="10.10.0.1" />
    <add key="foreign_port" value="998" />
    <add key="start_time" value="05:00" />
    <add key="end_time" value="20:00" />
  </appSettings>
</configuration>